@import "../../scss/colors";

.signup-component {
  background: $purple;
  .errors {
    text-align: center;
    list-style-type: none;
    color: rgb(221, 44, 0);
    padding: 0;
    margin: 0 0 10px;
    li:first-letter {
      text-transform: capitalize;
    }
  }

  .signup-logo {
    margin: auto auto 20px;
    display: flex;
    flex-shrink: 0;
    img {
      width: 150px;
      height: 150px;
    }
  }

  .signup-form {
    margin: 0 auto auto;
    background: #ffffff;
    height: auto;
    width: 100%;
    max-width: 500px;
  }

  .login-button-color {
    background: $purple;
    color: $white;
    &:hover {
      background-color: $purple !important;
      color: $white;
    }
  }
}

@media screen and (max-width: 767px) {
  .signup-component {
    background: $purple;
    .errors {
      text-align: center;
      list-style-type: none;
      color: rgb(221, 44, 0);
      padding: 0;
      margin: 0 0 10px;
      li:first-letter {
        text-transform: capitalize;
      }
    }
  
    .signup-logo {
      margin-top: 50px;
      display: flex;
      flex-shrink: 0;
      img {
        width: 100px;
        height: 100px;
      }
    }
  
    .signup-form {
      margin: 0 auto auto;
      background: #ffffff;
      height: auto;
      width: 100%;
      max-width: 500px;
    }

    .signup-button-group {
      display: flex;
      justify-content: center;
    }

    .mobile-input {
      flex: 1 1 100%;
      max-width: 100%;
      max-height: 100%;
      box-sizing: border-box;
    }
  }
}